.card {

	&.card-sm {

		.card-header,
		.card-body,
		.card-footer {
			padding: $layout-spacing;
			padding-bottom: 0;

			&:last-child {
				padding-bottom: $layout-spacing;
			}
		}
	}

	&.card-light {
		border: 0;
		border-radius: 0;
		background: $gray-color-light;
	}

}
