// Toast variant mixin
@mixin notice-variant($color: $dark-color) {
	background-color: rgba($color, .1);
	border-width: 0 0 0 $unit-2;
	border-color: $color;
	// border-color: $color;
	// border: 10px solid blue;
	color: $dark-color;
	// font-size: $font-size-lg;
	.feather {
		color: $color;
	}
}
